// COLORS
$color-primary: #3F8FFF;
$color-primary-light: #3F8EFC;
$color-primary-dark: #2667FF;

$color-secondary-light: #FFBD0A;  // #ffb900;
$color-secondary-dark: #E2A809; //#ff7730;

$color-tertiary-light: #9B6666;
$color-tertiary-dark: #684545;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;